<!DOCTYPE html>
<html lang="en" ng-app="todos">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="src/css/own.css"/>
    <title>TODO</title>
</head>
<body ng-controller="TodoListController as todoList">
    <div class='container'>
        <div class="jumbotron">
            <h1>TODO list!</h1>
            <p class="lead">Add your todo things here. Stop procrastinating!</p>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <form class="form-inline" name="todoForm" ng-controller="TodoItemController as todoItem" ng-submit="todoItem.addTodo()">
                <div class="form-group">
                    <textarea class="form-control" ng-model="todoItem.todo.description" placeholder="Insert your todo task"></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Submit"/>
            </form>
            <div class="col-md-4"></div>
        </div>
        <div class="clearfix"></div>
        <div class="row" ng-show="todoList.todos.length">
            <todo ng-repeat="todo in todoList.todos">
            </todo>
        </div>

        <footer class="footer">
            <p>© 2016 Company, Inc.</p>
        </footer>
    </div>
    <script src="node_modules/angular/angular.js"></script>
    <script src="src/js/app.js"></script>
</body>
</html>